@inherits IndexComponent
@page "/"

<PageTitle>Index</PageTitle>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proc in PhpRunner.Processes)
        {
            <tr>
                <td>@proc.Id</td>
                <td>@proc.ProcessName</td>
                <td>@proc.StartInfo.Arguments</td>
            </tr>
        }
    </tbody>
</table>