@inherits IndexComponent
@page "/"

<PageTitle>Index</PageTitle>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Args</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proc in Processes)
        {
            <tr>
                <td>@proc.Item2.Id</td>
                <td>@proc.Item1</td>
                <td>
                    <a href="http://@(@proc.Item2.StartInfo.Arguments.Replace("-S ", string.Empty))">@proc.Item2.StartInfo.Arguments</a>
                </td>
            </tr>
        }
    </tbody>
</table>